body {
    margin: 0;
    padding: 0;
}

#header-wrapper{
    width: auto;
    max-width: 100%;
    overflow: hidden;
    background-color: #F86600;
}

#header-design img{

    cursor: pointer;
}

#deliveryAppLogo{
    width: 100px;
     height: 100px;
}

#shopping-cart-logo{
    margin-top: 25px;
    margin-right: 25px;
    width: 40px;
    height: 40px;
}

#header-design{
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
}