body {
    margin: 0;
    padding: 0;
}

#header-wrapper{
    width: auto;
    max-width: 100%;
    overflow: hidden;
    background-color: #F86600;
}

#header-design img{
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    cursor: pointer;
}

#deliveryAppLogo{
    width: 200px;
     height: 100px;
}

#shopping-cart-logo{
    padding: 30px;
    width: 70px;
    height: 35px;
}

#header-design{
    display: flex;
    justify-content: space-between;
}