body {
    margin: 0;
}

.site-wrapper {
    max-height: 1440px;
    margin: 0 auto;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F86600;
}

header .Bestellapp-Logo {
    width: 100px;
    height: 50px;
    margin-left: 15px;
}

footer img {
    width: 100px;
    height: 50px;
    margin-left: 15px;
}

header .shopping-cart-logo {
    width: 50px;
    height: 25px;
    margin-right: 45px;
}

.content-wrapper {
    display: flex;
    flex: 1;
}

#content {
    flex: 1;
    padding: 10px;
}

.dishes {
    flex: 1;
    padding: 10px;
}

.dish {
    border: 2px solid #000;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    position: relative;
}

.dish h2 {
    margin: 0;
    font-size: 1.5em;
}

.dish .description {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}

.dish .price {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.icon-button svg {
    fill: #000;
    width: 24px;
    height: 24px;
}

.icon-button:hover svg {
    fill: #ff9900;
}

.basket {
    width: 300px;
    border: 2px solid #000;
    padding: 10px;
}

.basket h2 {
    border-bottom: solid #000;
}

.basket-item {
    border-bottom: 1px solid #000;
    padding: 5px 0;
    font-size: 1.1em;
}
